node_modules/
.gradle/
android/app/build/
android/.gradle/
android/build/
android/local.properties
*.keystore
keystore.properties
.env
*.jks
*.hprof
.metro-health-check*
.buckconfig
*.log
npm-debug.log*
yarn-error.log*
.expo/
ios/Pods/
ios/build/
